@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import "compass";
@import "compass/reset";

$font-default: 24px "Droid Sans",Helvetica,Arial,sans-serif;
$color-background: white;
$color-text: black;
$color-link: orange;

// mixins
@mixin button {
  background-color: #eee;
  color: #333;
  display: inline-block;
  padding: 5px 20px;
  text-decoration: none;
  margin-right: 10px;
  border: none;
  font: $font-default;
}

// switch box sizing model
* { @include box-sizing(inherit); }
html, body { @include box-sizing(border-box); }

body {
  font: $font-default;
  background-color: $color-background;
  color: $color-text;
}

a {
  color: $color-link;
}

#content {
  width: 1024px;
  margin: 50px auto;

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 40px 0;
  }

  h1 {
    font-size: 300%;
    border-bottom: 5px solid #eee;
  }

  .actions {
    margin: 20px 0;

    a {
      @include button;
    }
  }

  .images {
    width: 1024px;
    //overflow: auto;

    .image {
      width: 248px;
      height: 248px;
      display: block;
      float: left;
      margin: 0px 8px 8px 0;
      padding: 8px;
      background-color: #eee;

      img { display: block; width: 232px; height: 232px; }
    }
  }

  form {
    .input {
      margin: 1em 0;

      label {
        display: inline-block;
        text-align: right;
        width: 280px;
        margin-right: 40px;
        color: #999;
      }

      .error {
        color: red;
      }

      select {
        background: transparent;
        font: $font-default;
        border: 1px solid #ccc;
        height: 28px;
      }

      input, textarea {
        font: $font-default;
        border: none;

        &.text, &.string, &.password {
          padding: 5px 5px 2px 5px;
          width: 700px;

          border-bottom: 3px solid #eee;

          &:hover, &:active, &:focus {
            background-color: #f8f8f8;
          }
        }
      }
    }

    .buttons {
      margin-top: 2em;
      margin-left: 320px;

      input {
        @include button;
      }
    }
  }

  *:first-child { margin-top: 0 }
}
